 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
  <nav  class="" style="height: 7%;">
    <div class="container">
       <p><em> <strong>This app helps people to know someone,s ghithub Api using his or her username .to use it you have to put ghithub username in this search engine and press enter to display Ghithub user Api 
          the following informations of the  ghithub user are displayed while you press inter!!!!!!
        </strong></em></p>
        <form action=""><div class="form-group"><input type="text" style="margin-top:7%;  width: 100%; height: 15%;background-color: rgb(70, 68, 68); border-radius:20px; margin-left:-50px; border-top-right-radius:20px; color: ghostwhite;" class="form-control header-search-input jump-to-field js-jump-to-field js-site-search-focus  " placeholder="search or jump to" [(ngModel)]="username" name="username"  (keyup.Enter)="findProfile()"></div></form>
         
           </div>
          </nav>
          <div class="mid"> 
        <div class="col-md-8"> 
            <div class="start">
              <img src="{{profile.avatar_url}}" class="img-thumbnail github-avatar" >
          
              
              <ul class="list-group">
               
              <span class="label label-default">{{profile.public_repos}} Public Repos</span>
              <span class="label label-primary">{{profile.public_gist}} Public Gist</span>
              <span class="label label-success">{{profile.followers}} Followers</span>
              <span class="label label-info">{{profile.following}} Following</span>
               <div class=" group">
               <li class="list-group-item"><strong>Username:</strong> {{profile.login}}</li>
              <li class="list-group-item"><strong>Location: </strong> {{profile.location}}</li>
              <li class="list-group-item"><strong>Email:</strong> {{profile.email}}</li>
              <li class="list-group-item"><strong>Bio: </strong> {{profile.bio}}</li>
              <li class="list-group-item"><strong>Member since:</strong> {{profile.created_at}}</li>
              <li class="list-group-item">Repositories </li>
            </div>
           </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div *ngFor="let repo of repos">
            <div class="row">
              <div class="col-md-9">
                <h3>{{repo.name}}</h3>
                <p>{{repo.description}}</p>
                <h4><a href="{{profile.html_url}}" target="_blank">View on github</a></h4>
              </div>
              <div class="col-md-3">
                <div class="repo">
                <span class="label label-default">{{repo.watchers}} Stars </span>
                <span class="label label-primary">{{repo.forks}} Forks </span>
              </div>
               </div>
              </div>
            </div>
          </div>
        
             